<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Login</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
  <%- include ("partials/header") %>

  <section class="form-section">
    <h2>Login as Admin</h2>
    <form action="/admin/login" method="POST">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Login admin</button>
    </form>
  </section>
  <% if (typeof error !== "undefined" && error==="password") { %>
    <div class="overlay">
      <div class="overlay-content">
        <p>Incorrect Password, Try Login again</p>
        <button onclick="closeOverlay()">Close</button>
      </div>
    </div>
  <% }else if(error === "user"){ %>
    <div class="overlay">
        <div class="overlay-content">
          <p>Couldn't find your Account, Try Again.</p>
          <button onclick="closeOverlay()">Close</button>
        </div>
      </div>
  <% } %>
<% if(typeof loc !== "undefined" && loc === "signup") { %>
    <div class="overlay">
        <div class="overlay-content">
          <p>Sign Up successfully, Login to Continue...</p>
          <button onclick="closeOverlay()">Close</button>
        </div>
      </div>
      <% } %>
  <script>
    function closeOverlay() {
      document.querySelector('.overlay').style.display = 'none';
    }
  </script>

  <%- include ("partials/footer") %>
</body>
</html>
